@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change Your Password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div class=" register1" style=" min-height: 619px; margin-top: 50px; background: #fdf1ec;">
    <div class="myrow" style="min-height: 505px; box-shadow: 0px 14px 32px 0px rgb(0 0 0 / 58%); border-radius: 10px; margin-top:30px">
        <div class="mycol3 register-left" style="background: #000000; border-radius: 10px; margin-top: 0px;">

            <h3 style="margin-top:35%;margin-bottom:40%">Edit your account informations</h3>
            <div style="margin-top: 20%;">
                <partial name="_ManageNav" />
            </div>
        </div>
        <div class="mycol9 ">
            <div style=" position: absolute; width: 581px; top: 20px;">
                <partial name="_StatusMessage" model="Model.StatusMessage" />
            </div>
            <form id="change-password-form" method="post">
                @*<div asp-validation-summary="All" class="text-danger"></div>*@
                <div class="tab-content" style="margin-top: 15px;">
                    <div class="tab-pane active">
                        <div class="myrow register-form " style="margin-top: 50px;padding-top: 0%;padding-right: 10%;padding-bottom: 10%;padding-left: 10%;">

                            <div class="mycol6">
                                <h2 style="margin-bottom: 70px;margin-top: 30px;justify-content: center;display: flex;">@ViewData["Title"]</h2>
                                <div class="form-group">
                                    @*<label asp-for="Input.OldPassword"></label>*@
                                    <input asp-for="Input.OldPassword" class="form-control" placeholder="Your Password" />
                                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    @*<label asp-for="Input.NewPassword"></label>*@
                                    <input asp-for="Input.NewPassword" class="form-control" placeholder="New Password" />
                                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group" style="margin-bottom:1.8rem">
                                    @* <label asp-for="Input.ConfirmPassword"></label>*@
                                    <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirme New Password" />
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group" style="display: flex;justify-content: center;">
                                    <button type="submit" class="btnRegister" style="justify-content: space-evenly; align-items: center; margin-top: 15px; width:100%">Update password</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }
    </div>
    <br /><br /><br /><br />
</div>